.seven {
    width: 100%;
    height: 100%;
}

.employee {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;

    display: flex;
    gap: 32px;
}

.highlighted {
    background-color: lawngreen;
    border-color: red;
}